<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" href="https://cdn.gomix.com/7d01a0a0-b3b0-4f9b-beb9-00f95c23d251%2Ffavi.gif" type="image/gif" sizes="16x16">
        <title>Fronteer Podcast</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


        <link rel="stylesheet" href="style.css">

        <!--<link href="magnific-popup.css" rel="stylesheet">-->

    </head>


    <body>
        <header>
            <div class="header__container">
                <img class="move" src="https://cdn.gomix.com/7d01a0a0-b3b0-4f9b-beb9-00f95c23d251%2Fani-logo.gif" alt="Logo" style="margin-left:300px; height:300px; width:800px;">

                <div class="col-md-12">
                    <div class="thumbnail" style="background-color:lightblue;">
                        <h1 style="text-align:center;"><b>Monthly podcast for Front-End Web Developers</b></h1>
                    </div>

                </div>


            </div>
        </header>


        <main>
           
           
            <div class="container">
                <div class="row">

                    <div class="col-md-4 text-center">
                        <div class="thumbnail">

                            <hr>
                            <audio preload="none" controls="" src="http://traffic.libsyn.com/toolsday/ep37-fitness.mp3"></audio>
                            <h2 class="home--post-list--title">

                                <b style="color:green">  37: Fitness Tools</b>
                                <hr>

                            </h2>
                            <p class="home__ep-date">
                                November 22nd, 2016
                            </p>
                            <p class="home__ep-description">
                                We care about you! This week we talk about tools that can help you stay healthy and productive.
                            </p>

                            <a href="#" class="btn btn-primary btn-xl page-scroll" style="margin-top:20px;">See Show Notes →</a>
                        </div>

                    </div>


                    <div class="col-md-4 text-center">
                        <div class="thumbnail">

                            <hr>
                            <audio preload="none" controls="" src="http://traffic.libsyn.com/toolsday/ep37-fitness.mp3"></audio>
                            <h2 class="home--post-list--title">

                                <b>36: Images!</b>
                                <hr>
                            </h2>
                            <p class="home__ep-date">
                                November 15th, 2016
                            </p>
                            <p class="home__ep-description">
                                This week's episode is full of image optimization tooks, formats, and some fun facts about images!
                            </p>

                            <a href="#" class="btn btn-primary btn-xl page-scroll" style="margin-top:20px;">See Show Notes →</a>
                        </div>

                    </div>


                    <div class="col-md-4 text-center">
                        <div class="thumbnail">

                            <hr>
                            <audio preload=" none " controls=" " src="http://traffic.libsyn.com/toolsday/ep37-fitness.mp3 "></audio>
                            <h2 class="home--post-list--title ">

                                <b>35: Chrome Extensions</b>
                                <hr>
                            </h2>
                            <p class="home__ep-date ">
                                November 8th, 2016
                            </p>
                            <p class="home__ep-description ">
                                We rapid fire through our favourite Chrome extensions
                            </p>

                            <a href="# " class="btn btn-primary btn-xl page-scroll " style="margin-top:20px; ">See Show Notes →</a>
                        </div>

                    </div>



                    <div class="col-md-4 text-center">
                        <div class="thumbnail ">

                            <hr>
                            <audio preload="none " controls=" " src="http://traffic.libsyn.com/toolsday/ep37-fitness.mp3 "></audio>
                            <h2 class="home--post-list--title ">

                                <b style="color:green ">  37: Fitness Tools</b>
                                <hr>

                            </h2>
                            <p class="home__ep-date ">
                                November 22nd, 2016
                            </p>
                            <p class="home__ep-description ">
                                We care about you! This week we talk about tools that can help you stay healthy and productive.
                            </p>

                            <a href="# " class="btn btn-primary btn-xl page-scroll " style="margin-top:20px; ">See Show Notes →</a>
                        </div>

                    </div>


                    <div class="col-md-4 text-center ">
                        <div class="thumbnail ">

                            <hr>
                            <audio preload="none " controls=" " src="http://traffic.libsyn.com/toolsday/ep37-fitness.mp3 "></audio>
                            <h2 class="home--post-list--title ">

                                <b>36: Images!</b>
                                <hr>
                            </h2>
                            <p class="home__ep-date ">
                                November 15th, 2016
                            </p>
                            <p class="home__ep-description ">
                                This week's episode is full of image optimization tooks, formats, and some fun facts about images!
                            </p>

                            <a href="# " class="btn btn-primary btn-xl page-scroll " style="margin-top:20px; ">See Show Notes →</a>
                        </div>

                    </div>


                    <div class="col-md-4 text-center ">
                        <div class="thumbnail">

                            <hr>
                            <audio preload="none " controls=" " src="http://traffic.libsyn.com/toolsday/ep37-fitness.mp3 "></audio>
                            <h2 class="home--post-list--title ">

                                <b>35: Chrome Extensions</b>
                                <hr>
                            </h2>
                            <p class="home__ep-date ">
                                November 8th, 2016
                            </p>
                            <p class="home__ep-description ">
                                We rapid fire through our favourite Chrome extensions
                            </p>

                            <a href="# " class="btn btn-primary btn-xl page-scroll " style="margin-top:20px; ">See Show Notes →</a>
                        </div>

                    </div>

                </div>

            </div>



        </main>
        <footer>
            <p style="color:white; ">Fronteer Podcast | 2017</p>
        </footer>

    </body>

</html>
