
 
/* Main css file */


  
  
}
html, body {width:100%; height:100%; margin:0; padding:0;}


@keyframes bganimation
{
0%   {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
      50% {
           background-position: 
               150% 100%,
               -200% 100%,
               100% 0%,
               0% 100%;
      }
      100% {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
}


html {
    background: 
        radial-gradient(ellipse at center, rgba(0,0,255,0.3) 0%, rgba(0,0,0,0) 70%), /* niebieski */
        radial-gradient(ellipse at center, rgba(255,0,0,0.3) 0%, rgba(0,0,0,0) 70%), /*czerwony */
        radial-gradient(ellipse at center, rgba(0,255,0,0.3) 0%, rgba(0,0,0,0) 70%) /*zielony */
        #c3d7db;
    background-repeat: 
        repeat, 
        repeat, 
        repeat;
    background-size: 
        900px 900px,
        900px 900px,
        900px 900px;
    background-attachment: fixed;
    
    animation:bganimation 30s infinite;
}
body { height: 60%;}

*/



























html,
body {
  height: 100%;
  width: 100%;
  
}

/*
main {
   background-image: url("https://cdn.gomix.com/7d01a0a0-b3b0-4f9b-beb9-00f95c23d251%2FBackground.jpg");
} */




.thumbnail {
  padding-top:50px;
  padding-bottom:70px;
  /*box-shadow: 10px 10px 5px #888888;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  
  
   
   
}

.thumbnail:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  
}

.hover:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



body {
  font-family: 'Product Sans', Arial, sans-serif;
 
}
hr {
  border-color: #FFC636;  #F05F40;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}

a:hover,
a:focus {
  color: #eb3812;
}
/*h1,*/
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Product Sans', Arial, sans-serif;
}

h2 {
  font-weight:normal;
  
  
}


p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #FFC636;  #F05F40;
}
.bg-dark {
  background-color: #222222;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 100px 0;
}






.btn-primary .badge {
  color: #F05F40;
  background-color: white;
}
.btn {
  font-family:  'Product Sans', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-xl {
  padding: 15px 30px;
  
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.btn-xl:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
}



footer {
    
    background-color: black;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:20px;
   
  
    position: ;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}